body {
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  background-color: #ffffff;
}

:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  padding-left: 0px;
  margin: 0px;
}

.nav {
  border-bottom: 1px solid #e7e9fc;
}

.nav-line {
  display: flex;
  align-items: center;
}

.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;

  padding: 24px 0;
}

/* .nav-item-contacts {
  margin-right: 0 
  
} */

.list {
  display: flex;
  gap: 40px;
}

.list-address {
  gap: 40px;
  display: flex;
  list-style: none;
}

.container-nav {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-nav {
}

.address {
  font-style: normal;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #4d5ae5;

  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #2e2f42;
}

.main-title {
  font-size: 56px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: #ffffff;

  margin-left: auto;
  margin-right: auto;

  max-width: 496px;
}

.button-hero {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  width: 169px;
  height: 1.5s;
  left: 636px;
  top: 428px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.list {
  list-style: none;
}

/* .list-one {
  
  gap: 40px;
} */

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.hero-section {
  background: #2e2f42;
  padding: 188px 0;
}

/* Section #1 */

.sec-one {
  padding: 120px 0;
}

.section-one {
  color: #2e2f42;
}

.list-one {
  list-style: none;
  display: flex;
  gap: 24px;
}

.li-sec-one {
  width: calc((100% - 72px) / 4);
}

.section-one-title {
  width: 264px;
  height: 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.section-one-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section#2 */

.sec-two {
  padding-bottom: 120px;
}

.section-two-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-top: 0px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.list-two {
  display: flex;
  gap: 24px;
  list-style: none;
}

.li-sec-two {
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
}

/* Section#3 */

.sec-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-three-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.list-three {
  display: flex;
  list-style: none;
  gap: 24px;
}

.list-style {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-info {
  padding: 32px 16px;
}

.list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);

  text-align: center;
  margin-bottom: 8px;
}

.desk {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);

  text-align: center;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-desk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
  letter-spacing: 0.02em;

  max-width: 264px;
}

/* Portfolio */

.nav-portfolio {
  border-bottom: 1px solid #e7e9fc;
}

.container-portfolio {
  display: flex;
}

.sec-portfolio {
  padding: 96px 0 120px;
}

.list-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  list-style: none;
}

.button-filter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #f4f4fd;
  color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button-filter:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}

.button-filter:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid;
  border: 1px solid transparent;
}

.list-portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.card-portfolio {
  width: calc((100% - 48px) / 3);
}

.info-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.card-desk {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
